{% extends "index.html" %}
{% block device %}
    {% from "macros.html" import render_device_fields %}
    {% from "macros.html" import render_field %}
    {# TODO: - create refresh page data withot submit form #}
    {#    <script type=text/javascript>#}
    {#        function senddev() {#}
    {#            var data = $('#main_form').serializeArray();#}
    {#            data.push({name: 'devicesel', value: "devicesel"});#}
    {#            $.post("device", data);#}
    {#        }#}
    {#    </script>#}
    <div class="top">
    <div class="links"><a href="findport">Find port</a> | <a href="device">Switch port</a></div>
    <div class="delimiter"></div>
    <div class="user_login">login: <b>{{ session.login }}</b>, privilege level: <b>{{ session.priv }}</b></div>
    </div><br>
    <form method="POST" id="main_form">
        <div class="device_form">
        {{ form.csrf_token }}
        {#        {{ render_field_with_errors(form.device, **{"onchange":"senddev()"}) }}#}
        {{ render_device_fields(form.device, **{"onchange":"this.form.submit()"}) }}
        {{ render_device_fields(form.ports) }}
        {{ render_device_fields(form.vlans) }}
        </div>
        <div class="save_button"><br>
        {{ render_field(form.save) }}
        </div>
    </form>
    <div class = "text_field">
    {{ render_field(form.text) }}
    </div>
{% endblock %}
